{% extends 'base.html.twig' %}

{% block title %} Message {% endblock %}

{% block body %}
    <h1> Vous êtes né dans le département : {{ departement }} ! </h1>
    <h2> Vous êtes {{ sexe }} ! </h2>
    <h2> Nous sommes le : {{ date }} ! </h2>
{% endblock %}